[user]
	name = Dean Clark
	email = dmc227@lehigh.edu
[alias]
	pr = pull --rebase
[pull]
	rebase = true
[rebase]
	autoStash = true
[credential]
	helper = "!f() { /root/.vscode-server/bin/072586267e68ece9a47aa43f8c108e0dcbf44622/node /tmp/vscode-remote-containers-ad7b914c-83b7-4831-918e-1748c00d5c13.js git-credential-helper $*; }; f"
