# Object files and libraries
*.o
*.ko
*.lo
*.la
*.a
*.so
*.d

# Object folders
obj64/

# Executable files
*.exe

# Shell / user files
.bash_history
.gnupg/
.ssh/
.config/
.cache/

# OS noise
.DS_Store
Thumbs.db

.vscode-server/